header{
    background-color: aquamarine;
    height: 50px;
    width: 100%;
}
nav{
    background-color: blue;
    height: 60px;
    width: 100%;
}
section{
    background-color: blueviolet;
    height: 300px;
    width: 80%;
    float: left;
}
article{
    background-color: black;
    height: 200px;
    width: 80%;
    float: left;
}
aside{
    background-color: brown;
    height: 500px;
    width: 20%;
    float: right;
}
footer{
    background-color: yellowgreen;
    height: 50px;
    width: 100%;
    clear: both;
}
